\$__Import.tid
\$__StoryList*.tid
\$__trashbin*
\$__q*.tid

Import.tid
StoryList*.tid
tiddlers/trashbin/
/public/
Draft*
tiddlers/subwiki/
output/
dist/
todo.norg
tiddlers/gtd/
node_modules/

# misc
tiddlers/config/TiddlerTail/Default.tid
tidgi/
library/
neotw-temp/
dev/tiddlers/
dev/archrepo/
tiddlers/config/ShowHelp.tid
tiddlers/commit.tid
tiddlers/config/RecentTab/Mode.tid
