\$__Import.tid
Import.tid
\$__StoryList*.tid
StoryList*.tid
\$__trashbin*
tiddlers/trashbin/
/public/
Draft*
tiddlers/subwiki/
output/
dist/
todo.norg
\$__q*.tid
tiddlers/gtd/
node_modules/

# misc
tiddlers/config/TiddlerTail/Default.tid
tidgi/
library/
neotw-temp/
dev/tiddlers/
dev/archrepo/
tiddlers/config/ShowHelp.tid
tiddlers/neotw/git/commit.tid
