# public-hoist-pattern[]=*@nextui-org/*
registry=https://registry.npmjs.org/
# registry=https://registry.npmmirror.com
# NOTE: 不要在 Prod 使用 proxy
# proxy=http://localhost:20172
package-manager-strict=false