services:
  tiddlywiki-starter-kit:
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: oeyoews/tiddlywiki-starter-kit:latest
    # restart: on-failure:3
    ports:
      - '8000:8000' # 映射端口，将主机的 8080 端口映射到容器的 8000 端口
    # volumes:
    #   - ./.tiddlywiki/:/app/.tiddlywiki # 映射对应的目录
    environment:
      # - HTTP_PROXY=http://10.170.32.124:20172
      # - HTTPS_PROXY=http://10.170.32.124:20172
      - NO_PROXY=localhost,127.0.0.1,172.17.0.0/16,.docker.internal
    # build
    # command: ["tail", "-f", "/dev/null"]
    command: ["npm", "run", "dev"]
    # user: node
