[Unit]
Description=NeoTw Service

[Service]
WorkingDirectory=/home/oeyoews/REPOS/neotw
ExecStart=/usr/bin/tiddlywiki --build listen

[Install]
WantedBy=default.target
