.ocard {
  perspective: 1000px;
  display: inline-block;
}

.card-inner {
  width: 400px;
  /* height: 600px; */
  transition: transform 0.3s ease-in-out;
  transform-style: preserve-3d;
}

/* tailwindcss 居然还不支持 rotate-y-180 可恶，否则利用 group,js 都不需要写了 */
.ocard.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-face {
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}
