/* disable scrollbar */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar,
scrollbar-width {
  display: none;
}
::-webkit-scrollbar:hover,
scrollbar-width {
  display: none;
}
::-moz-scrollbar {
  display: none;
}

/* gradient hr */
hr {
  height: 2px;
  background-image: linear-gradient(135deg, #12c2e9, #c9ffbf);
  border: none !important;
  border-radius: 3px;
  margin: 0.25rem 0 !important;
}

.gradient {
  /* display: inline; */
  background-image: linear-gradient(135deg, #12c2e9, #ffafbd, #c9ffbf);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* better focus-visible */
/* disable it */
:focus-visible {
  /* outline: #7f4bca 2px solid !important; */
  outline: none;
}

blockquote {
  /* border-left: 3px solid #dfdfdf !important; */
  margin-left: 0 !important;
}

blockquote > div {
  margin: 4px 1px;
}

/* remove editor border */
.tc-editor-toolbar button,
.tc-editor-toolbar button.tc-btn-invisible {
  border: none !important;
}

.tc-edit-tags {
  border: none;
}

.tc-tiddler-frame input.tc-edit-texteditor {
  border: none;
}

/* remove extra underline with image lin */
a {
  /* NOTE: 这个颜色会导致导出的 html 正常的文本也是这个颜色？？？ */
  /* color: #007bff; */
  text-decoration: none !important;
}

/* remove more border */
.tc-tab-content.tc-vertical {
  border-left: 0;
}

.tc-more-sidebar > .tc-tab-set > .tc-tab-buttons > button.tc-tab-selected {
  border: none;
}

.tc-more-sidebar > .tc-tab-set > .tc-tab-buttons > button {
  border: none;
}

/* tc-notification */
.tc-notification {
  color: black;
  border-radius: 5px;
  /** background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59); */
  border: 2px;
  box-shadow: 0 5px 20px rgb(0 0 0 / 12%);
}

/* better editor bar @kookma plugin */
.tc-tiddler-controls {
  & .tc-image-delete-button {
    fill: #ebb;
  }
  & .tc-image-cancel-button {
    fill: #ed9;
  }
  & .tc-image-done-button {
    fill: #beb;
  }
  & .tc-image-tiddler-fullscreen-button {
    fill: rgb(181, 161, 252);
  }
  & .tc-image-prettier-button {
    fill: #f55b50;
  }
}

/* just show btn on hover */
.tc-tiddler-frame .tc-titlebar button {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.tc-tiddler-frame:hover .tc-titlebar button {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}
/* enhance font size */
.tc-tiddler-frame .tc-tiddler-body {
  font-size: 20px;
}

/* cm5 */
/* .CodeMirror {
  border: 0;
}

.CodeMirror-wrap pre.CodeMirror-line {
  font-size: 20px;
}
.CodeMirror-wrap pre.CodeMirror-line {
	font-size: 18px;
}

.cm-s-tiddlywiki .CodeMirror-activeline-background,
.cm-s-tiddlywiki .CodeMirror-activeline-gutter .CodeMirror-linenumber {
  background: #00000008;
}

.CodeMirror-wrap pre.CodeMirror-line {
    font-size: 20px !important;
}
*/

/* remove btn border */
button {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background: #00000008;
  text-transform: capitalize;
}

.tc-modal-backdrop {
  cursor: pointer;
}

.tc-tab-divider,
.tc-plugin-info,
.tc-plugin-info-dropdown {
  border: none;
}

/* switch layout */
.tc-chosen,
.tc-chooser-item:hover {
  border: none;
}

select {
  border: none;
}

/* editor view */
.tc-tiddler-preview-preview {
  border: none !important;
  font-size: 20px;
}

.nc-bar input[type='search']:focus {
  box-shadow: 0 0 0 0 transparent;
}

/* layout better */
.tc-chooser-item {
  margin: 4px 0;
}
