[Unit]
Description=NeoTw Service

[Service]
WorkingDirectory=/home/username/dir
ExecStart=/usr/bin/tiddlywiki --build listen

[Install]
WantedBy=default.target
