section.story-backdrop .opened-tiddlers-bar-container {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100vw;
  left: 0;
  overflow-x: auto;
  white-space: nowrap;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  opacity: 0;
}

section.story-backdrop .opened-tiddlers-bar-container::-webkit-scrollbar {
  display: none;
}

section.story-backdrop div.opened-tiddlers-bar div.opened-tiddlers-bar-tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/** make it possible to drag the app using this bar in TidGi, when titleBar is closed */
<$reveal
  type='match'
  state='$:/state/titleBarOpened'
  text='no'
  > div.opened-tiddlers-bar-tabs {
  width: 90vw;
  overflow-x: auto;
  white-space: nowrap;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}
div.opened-tiddlers-bar-tabs::-webkit-scrollbar {
  display: none;
}
div.opened-tiddlers-bar-drag-area {
  width: 5vw;
  -webkit-app-region: drag;
}
</$reveal>
/** when hide titlebar and hide sidebar (and on macOS, windows not tested), move bar right to avoid collision with close button on the left top of app */
/** move right a bit to avoid collision with close button on macOS when title bar hide */
<$reveal type="match" state="$:/state/titleBarOpened" text="no">
<$reveal type="match" state="$:/state/sideBarOpened" text="no">
section.story-backdrop {
  width: 100vw;
  padding-left: 68px;
}
</$reveal>
</$reveal>

/** tiddlers bar */
section.story-backdrop > p > .opened-tiddlers-bar-container, section.story-backdrop > p > .opened-tiddlers-bar-container > div.tc-tab-buttons {
  width: 100%;
  margin: 0;
  display: flex;
  /* background-color: white; */
  background: <<colour tab-background-selected>>;
  /* backdrop-filter: blur(3px); */
}

div.opened-tiddlers-bar-tabs button {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 5px 10px;
  padding-right: 2px;
}
/** x button */
div.opened-tiddlers-bar-tabs button.opened-tiddlers-bar-close-button {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0 5px;
  opacity: 0;
  background-color: transparent;
}
/** show x when tab is hovered */
div.opened-tiddlers-bar-tabs:hover button.opened-tiddlers-bar-close-button {
  /* opacity: 1; */
}
section.story-backdrop
  div.opened-tiddlers-bar-tabs
  button.tc-tab:not(.tc-tab-selected):hover {
  /* border-bottom: 2px solid gray; */
}
section.story-backdrop div.opened-tiddlers-bar-tabs button.tc-tab:nth-child(2) {
  margin-left: -1em;
}
div.opened-tiddlers-bar.tc-tab-buttons {
  padding: 0;
  margin: 0;
}

/** 收起侧边栏的按钮 */
.tc-topbar-right {
  top: 18px;
}
