[Desktop Entry]
StartupNotify=true
Version=1.0
Terminal=false
Type=Application
Name=neotw
Icon=/usr/share/pixmaps/neotw.png
Exec=neotw
Categories=Network;
Keywords=Neotw;TiddlyWiki
