[Unit]
Description=NeoTw Service

[Service]
WorkingDirectory=neotwdir
ExecStart=/usr/bin/tiddlywiki --listen port=8099 anon-username=oeyoews use-browser-cache=no gzip=yes

[Install]
WantedBy=default.target
