[Unit]
Description=NeoTw Service

[Service]
WorkingDirectory=NEOTWDIR
ExecStart=/usr/bin/tiddlywiki --build listen

[Install]
WantedBy=default.target
