/* hide scrollbar */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar,
scrollbar-width {
  display: none;
}
::-webkit-scrollbar:hover,
scrollbar-width {
  display: none;
}
::-moz-scrollbar {
  display: none;
}

/* gradient hr */
hr {
  height: 4px;
  background-image: linear-gradient(135deg, #12c2e9, #ffafbd, #c9ffbf);
  border: none !important;
  border-radius: 3px;
}

/* better focus-visible */
.tc-tiddler-frame:focus-visible {
  outline: #7f4bca 2px solid;
}
